.u-inputtags {
    background: white;
    border: 1px solid #ccc;
    width: 276px;
    padding: 2px 2px 1px;
    cursor: text;
    display: inline-block;
}
.u-inputtags:hover {
    border-color: #aaa;
}
.u-inputtags.onfocus {
    border-color: #78babf;
    box-shadow: inset 0px 1px 3px #CCC;
}

.u-inputtags-input {
    background: transparent !important;
    border: none !important;
    margin: 2px 0 !important;
    padding: 2px 2px 3px !important;
    vertical-align: top !important;
    width: 100px !important;
    box-shadow: none !important;
    outline: none;
    -moz-outline: none;
}
.u-inputtags-input:focus {
    outline: none;
}

.u-inputtags-tag{
    background: #a8cacf;
    color: #385a5f;
    overflow: hidden;
    display: inline-block;
    margin: 2px 3px 0 0;
    cursor: default;
    border-radius: 2px;
}
.u-inputtags-tag-name {
    float: left;
    width: 78px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 4px 3px;
}
.u-inputtags-tag-remove {
    display: inline-block;
    border-left: 1px solid #c8eaef;
    padding: 4px 4px 3px;
    cursor: pointer;
}
.u-inputtags-tag-remove:hover{
    background: #587a7f;
    color: #fff;  
}
